body {
    margin: 0;
    font-size: large;
    font-family: "Avenir Next";
  }

.container {
    margin-left: 400px;
}

h1 {
    color: steelblue;
}
h2 {
    color: steelblue;
}
h3 {
    font-weight: 550;
}


.profile-photo img{
    width: 200px;
    height: auto;
}

.profile-photo {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 250px
}

.Contacts {
    position: absolute;
    top: 700px;
    left: 50px;
    width: 250px;
}
.Contacts ul {
    padding-left: 20px;
}
.Contacts ul li {
    list-style: none;
}

a {
    color: steelblue;
    text-decoration: none;
  }
a:visited {
    color: steelblue;
  }

ul li {
    line-height: 2;
}

p {
    line-height: 2;
}

footer {
    position: absolute;
    left: 50px;
    width: 250px 
}
